<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1; height=device-height, initial-scale=1">
    <!-- for bootstrap -->
    <title>Calendar demo</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity= "sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Bootstrap Icons -->
    <style>
      body{
        min-width:500px;
        width: auto;
        /* The spacing starts looking odd below the min width value and the width sets to auto so that the element can resize with the screen */
      }

      li{
        border-color: black;
      }

      .box {
        position: relative;
        width: 10vh;		/* desired width */
      }
      .box:before {
        content: "";
        float: left;
        padding-top: 10vh; 	/* initial ratio of 1:1*/
        border: .5vh black;

      }
      /* The box classes are tests for spacing on the boxees at the top */
      
      .black-box{
        background-color: black;
        text-align: center;
        /* min-height: 5vh; */
        /* This is for the black box that is created around the url, I would like to change the size but I am currently encountering an issue where it is displayed with no link if I set a min size */
      }

      a{
        color: white;
        /* Setting the color of the link inside of the box to be white */
      }
      .dot {
        height: 2.5vh;
        width: 2.5vh;
        border-radius: 50%;
        display: inline-block;
      }
      .red{
        background-color: #d37676;
      }
      .gray{
        background-color: #8b8989;
      }
      .blue{
        background-color: #4382e0;
      }
      .big{
        height: 20vh;
        width: 20vh;
      }
      .container{
        border-style: solid;
        border-color: gray;
        border-width: 1vh;
      }
      .today{
        border-color: black;
      }
      .other_month{
        border-color: red;
      }
      .col{
        min-width: 0;
      }
    </style>
  </head>
  <body>
          <div class="calendar">
            <div class ="text-center">
              <div class="row">
                <div class="col">
                  <form method="post" action="{% url 'previous' previous_month=previous_month selected_year=selected_year %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="previous">Previous</button>
                  </form>
                  <!-- this form sends you to the previous month -->
                </div>
                <div class="col">
                  <h1>{{selected_month}} / {{selected_year}}</h1>
                </div>
                <!-- I would like to change this so that the selected month displays as a string -->
                <div class="col">
                  <form method="post" action="{% url 'next' next_month=next_month selected_year=selected_year %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="next" >Next</button>
                    <!-- this form sends you to the next month -->
                  </form>
                </div>
              </div>
            </div>

            <div class = "row">
              <div class = "col">
                <div class = "container today">Today</div>
              </div>
              <div class = "col box">
                <text_span class="dot red big"></text_span>
                <text_span> Support </text_span>
              </div>
              <div class = "col box">
                <text_span class="dot blue big"></text_span>
                <text_span>Friendship</text_span>
              </div>
              <div class = "col box">
                <text_span class="dot gray big"></text_span>
                <text_span> Health </text_span>
              </div>
            </div>
            <!-- add Today example when ready -->

              <ul class="weekdays">
                <div class="row align-items-center row-eq-height">
                  <div class = "col">
                    <li> Su </li>
                  </div>
                  <div class = "col">
                    <li> M </li>
                  </div>
                  <div class = "col">
                    <li> Tu </li>
                  </div>
                  <div class = "col">
                    <li> W </li>
                  </div>
                  <div class = "col">
                    <li> Th </li>
                  </div>
                  <div class = "col">
                    <li> F </li>
                  </div>
                  <div class = "col">
                    <li> Sa </li>
                  </div>
                </div>
              </ul>
              <!-- I would like to make these line items look more appealing -->

              <div class = "row">
                {% for day in first_week %}
                  <div class = "col">
                    <div id={{day.day}}_{{day.month}}_1 class = "container">
                      <text_span>{{day.day}}</text_span>
                    </div>
                  </div>
                {% endfor %}
              </div>

              <div class = "row">
                {% for day in second_week %}
                  <div class = "col">
                    <div id={{day.day}}_{{day.month}}_2 class = "container">
                      <text_span>{{day.day}}</text_span>
                    </div>
                  </div>
                {% endfor %}
              </div>

              <div class = "row">
                {% for day in third_week %}
                  <div class = "col">
                    <div id={{day.day}}_{{day.month}}_3 class = "container">
                      <text_span>{{day.day}}</text_span>
                    </div>
                  </div>
                {% endfor %}
              </div>

              <div class = "row">
                {% for day in fourth_week %}
                  <div class = "col">
                    <div id={{day.day}}_{{day.month}}_4 class = "container">
                      <text_span>{{day.day}}</text_span>
                    </div>
                  </div>
                {% endfor %}
              </div>

              <div class = "row">
                {% for day in fifth_week %}
                    <div class = "col">
                      <div id={{day.day}}_{{day.month}}_5 class = "container">
                        <text_span>{{day.day}}</text_span>
                      </div>
                    </div>
                {% endfor %}
              </div>
              <div class = "row">
                {% for day in sixth_week %}
                  <div class = "col">
                    <div id={{day.day}}_{{day.month}}_6 class = "container">
                      <text_span>{{day.day}}</text_span>
                    </div>
                  </div>
                {% endfor %}
                </div>
          </div>


              <!-- <div class = "row">
                {% for day in sixth_week %}
                  {% if day.event == "Support" %}
                    <div class = "col">
                      <li data-bs-toggle="modal" data-bs-target="#exampleModal" id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-primary"> {{day.day}}</li>
                    </div>
                  {% elif day.event == "Friendship" %}
                    <div class = "col">
                      <li data-bs-toggle="modal" data-bs-target="#exampleModal" id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-danger"> {{day.day}} </li>
                    </div>
                  {% elif day.event == "Health" %}
                    <div class = "col">
                      <li data-bs-toggle="modal" data-bs-target="#exampleModal" id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-secondary"> 
                        {{day.day}}
                      </li>
                    </div>
                  {% else %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item"> {{day.day}}</li>
                    </div>
                  {% endif %}
                {% endfor %}
              </div> -->


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="modal_title"></h3>
              </div>
              <div class="modal-body">
                <ul>
                  <div id="modal_date"> <i class="bi bi-calendar"></i> </div>
                  <div id="modal_time"> <i class="bi bi-clock"></i> </div>
                  <div id="modal_location"> <i class="bi bi-geo-alt"></i> </div>
                </ul>
                <div id="modal_desc"></div>
                <br>
                <div class = "black-box">
                  <a id="modal_link" href="#"></a>
                </div>
              </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- this modal is initially generated as blank outside of the structure, but when it is created, all of its necessary pieces are appended -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- JS for Bootstrap -->
        <script>
          
          var modal_link = document.getElementById('modal_link');
          var modal_location = document.getElementById('modal_location');
          var modal_title = document.getElementById('modal_title');
          var modal_date = document.getElementById('modal_date');
          var modal_desc = document.getElementById('modal_desc');
          var modal_link = document.getElementById('modal_link');
          // these variables all refer to specific ID's in the modal that will be used to change information later

          var gray_span = document.createElement("SPAN");
          gray_span.setAttribute("class", "dot gray");
          gray_span.setAttribute("data-bs-toggle", "modal" );
          gray_span.setAttribute("data-bs-target", "#exampleModal");

          var red_span = document.createElement("SPAN");
          red_span.setAttribute("class", "dot red");
          red_span.setAttribute("data-bs-toggle", "modal" );
          red_span.setAttribute("data-bs-target", "#exampleModal");
          
          var blue_span = document.createElement("SPAN");
          blue_span.setAttribute("class", "dot blue");
          blue_span.setAttribute("data-bs-toggle", "modal" );
          blue_span.setAttribute("data-bs-target", "#exampleModal");


          var display = {{json_display_events|safe}};
          // this is necessary to seperate the array from views.py into pieces of information that can be read by the script

          function isElementClicked(id){
            var id_splitter = id.split("_")
            // the ID's are constructed of day_month, so this seperates those numbers
            // console.log(id_splitter[0], id_splitter[1])

            for(let i = 0; i < display.length; i++){
              // this for loop checks each item in the list of displayable items
              if(display[i].day == id_splitter[0] && display[i].month == id_splitter[1] && display[i].title == id_splitter[2]){
                // if the day and month from the event are equal to the day and month stored in the unique ID
                console.log(display[i]);

                var title = display[i].title;
                // take the event's title and store it
                var title_text = document.createTextNode(title);
                // make a text node with the stored title
                modal_title.innerHTML = '';
                // reset the location in the modal that this information will be going to
                modal_title.appendChild(title_text);
                // add the text to the element

                var date = display[i].display_date;
                var date_text = document.createTextNode(date);
                modal_date.innerHTML = '<i class="bi bi-calendar"></i> ';
                modal_date.appendChild(date_text);

                var time = display[i].display_hour;
                var time_text = document.createTextNode(time);
                modal_time.innerHTML = '<i class="bi bi-clock"></i> ';
                modal_time.appendChild(time_text);

                var location = display[i].location;
                var location_text = document.createTextNode(location);
                modal_location.innerHTML = '<i class="bi bi-geo-alt"></i> ';
                modal_location.appendChild(location_text);

                if(display[i].description != null){
                  // this is essentially the same as the others, except that if there is no description, it should be empty
                  var desc = display[i].description;
                  var desc_text = document.createTextNode(desc);
                  modal_desc.innerHTML = '';
                  modal_desc.appendChild(desc_text);
                }
                else{
                  modal_desc.innerHTML = '';
                }

                if(display[i].link != ""){
                  // this is essentially the same as the others, except that if there is no link, it should be empty
                  var link = display[i].link;
                  // var link_text = document.createTextNode(link);
                  var link_text = document.createTextNode("Join Meeting");
                  // here I set the text to be "Join Meeting", but you could set it to the zoom link as well
                  modal_link.innerHTML = '';
                  modal_link.href = link;
                  modal_link.appendChild(link_text);
                }
                else{
                  modal_link.innerHTML = '';
                }

              }
            }
          }

          checked = 0;
          function populator(){
            var container_selector = document.querySelectorAll(".container");
            // find the containers that will hold the information about the days
            for(let j= 0; j < container_selector.length; j++ ){
              var population_container_id_splitter = container_selector[j].id.split("_");
              // for each container that is found split their ids into the information stored day_month_week#
              for(let d = 0; d < display.length; d++){
                if(display[d].day == population_container_id_splitter[0] && display[d].month == population_container_id_splitter[1]){
                  // for each item in the events to display if the day and month are equal to the split ID check what type of event they are
                    if(display[d].type == 'Health'){
                      var hgs = gray_span.cloneNode(true)
                      // creates a clone of the grey node span
                      hgs.setAttribute("id", display[d].day + "_" +display[d].month + "_" + display[d].title);
                      // sets the id to day_month_title which can be used to find the event later
                      container_selector[j].appendChild(hgs);
                      // append the event span to the container
                    }
                    else if(display[d].type == 'Support'){
                      var sgs = red_span.cloneNode(true)
                      sgs.setAttribute("id", display[d].day + "_" +display[d].month + "_" + display[d].title);
                      container_selector[j].appendChild(sgs);
                    }
                    else{
                      var fgs = blue_span.cloneNode(true)
                      fgs.setAttribute("id", display[d].day + "_" +display[d].month + "_" + display[d].title);
                      container_selector[j].appendChild(fgs);
                    }
                }
              }
              var today = new Date();
              if(today.getDate() == population_container_id_splitter[0] && today.getMonth()+1 == population_container_id_splitter[1]){
                // if the day and month from the container's ID match todays date (get month is on a scale from 0-11)
                container_selector[j].setAttribute("class", "container today")
                // set the class to be today
              }

              if(population_container_id_splitter[2] == 3 && checked == 0){
                var current_month = population_container_id_splitter[1]
                checked=1;
                for(let k= 0; k < container_selector.length; k++){
                  var other_month_container_id_splitter = container_selector[k].id.split("_");
                  if(other_month_container_id_splitter[1] != current_month && container_selector[k].id != ""){
                    container_selector[k].setAttribute("class", "container other_month")
                  }
                }
              }


            }

            var span_selector = document.querySelectorAll("span");
            for(let i = 0; i < span_selector.length; i++){
              // for each span stored
              if(span_selector[i].id != ""){
                // if it has an id, give it an event listener for when it is clicked
                span_selector[i].addEventListener("click", function(){
                  isElementClicked(span_selector[i].id);
                  // pass the id of that clicked span to isElementClicked
                }); 
              }
            }
          }
          populator();
        </script>
      </body>
</html>