<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1; height=device-height, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      /* .container2{
        height: 10vh; 
        width: 10vh; 
        min-width:50px; 
        min-height:50px;
        padding: 4vh;
        border-style: solid;
        border-width: .5vh;
        justify-content: center;
      } */

      body{
        min-width:400px;
        width: auto;
        /* width:1000px; */
      }

      li{
        border-color: black;
      }
    </style>
  </head>
  <body>
    <!-- <div class="container text-center">
      <div class="row">
        <div class="col">
          Su
        </div>
        <div class="col">
          M
        </div>
        <div class="col">
          Tu
        </div>
        <div class="col">
          Wed
        </div>
        <div class="col">
          Th
        </div>
        <div class="col">
          F
        </div>
        <div class="col">
          Sa
        </div>
      </div> -->
      <!-- <div class="row align-items-center">
        <div class="col">
          <div class="border container2">
            1
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            2
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            3
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            4
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            5
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            6
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            7
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="border container2">
            1
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            2
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            3
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            4
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            5
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            6
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            7
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="border container2">
            1
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            2
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            3
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            4
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            5
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            6
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            7
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="border container2">
            1
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            2
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            3
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            4
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            5
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            6
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            7
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="border container2">
            1
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            2
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            3
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            4
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            5
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            6
          </div>
        </div>
        <div class="col">
          <div class="border container2">
            7
          </div>
        </div>
      </div>
    </div> -->
          <div class="calendar">
            <div class ="text-center">
              <div class="row">
                <div class="col">
                  <form method="post" action="{% url 'previous' previous_month=previous_month selected_year=selected_year %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="previous">Previous</button>
                  </form>
                </div>
                <div class="col">
                  <h1>{{selected_month}} / {{selected_year}}</h1>
                </div>
                <div class="col">
                  <form method="post" action="{% url 'next' next_month=next_month selected_year=selected_year %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="next" >Next</button>
                  </form>
                </div>
              </div>
            </div>
            <div class = "row">
                <div class = "col">
                  <li class= "list-group-item list-group-item-primary"> Support </li>
                </div>
                <div class = "col">
                  <li class= "list-group-item list-group-item-danger"> Friendship</li>
                </div>
                <div class = "col">
                  <li class= "list-group-item list-group-item-secondary"> Health </li>
                </div>
            </div>
              <ul class="weekdays">
                <div class="row align-items-center">
                  <div class = "col">
                    <li id="test"> Su </li>
                  </div>
                  <div class = "col">
                    <li> M </li>
                  </div>
                  <div class = "col">
                    <li> Tu </li>
                  </div>
                  <div class = "col">
                    <li> W </li>
                  </div>
                  <div class = "col">
                    <li> Th </li>
                  </div>
                  <div class = "col">
                    <li> F </li>
                  </div>
                  <div class = "col">
                    <li> Sa </li>
                  </div>
                </div>
              </ul>
              <div class = "row">
                {% for day in first_week %}
                    <!-- {% if day.event == "" and day.month == previous_month %}
                      <div class = "col">
                        <li class= "list-group-item"> {{day.day}}{{day.month}}{{selected_month}}</li>
                      </div>
                    {% if day.event == "Support" and day.month == previous_month %}
                      <div class = "col">
                        <li class= "list-group-item list-group-item-primary"> {{day.day}}, {{day.event}}</li>
                      </div>
                    {% elif day.event == "Friendship" and day.month == previous_month %}
                      <div class = "col">
                        <li class= "list-group-item list-group-item-danger"> {{day.day}}, {{day.event}}</li>
                      </div>
                    {% elif day.event == "Health" and day.month == previous_month %}
                      <div class = "col">
                        <li class= "list-group-item list-group-item-secondary"> {{day.day}}, {{day.event}}</li>
                      </div>
                    {% elif day.event == "" and day.month == selected_month %}
                      <div class = "col">
                        <li class= "list-group-item"> {{day.day}}{{day.month}}{{selected_month}}</li>
                      </div>
                    {% elif day.event == "Support" and day.month == selected_month %}
                      <div class = "col">
                        <li class= "list-group-item list-group-item-primary"> {{day.day}}, {{day.event}}</li>
                      </div>
                    {% elif day.event == "Friendship" and day.month == selected_month %}
                      <div class = "col">
                        <li class= "list-group-item list-group-item-danger"> {{day.day}}, {{day.event}}</li>
                      </div>
                    {% elif day.event == "Health" and day.month == selected_month %}
                      <div class = "col">
                        <li class= "list-group-item list-group-item-secondary"> {{day.day}}, {{day.event}}</li>
                      </div>
                    {% else %}
                      <div class = "col">
                        <li class= "list-group-item"> {{day.day}} {{day.month}}{{previous_month}}</li>
                      </div>
                    {% endif %}
                  {% endif %} -->
                  {% if day.event == "Support" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-primary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Friendship" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-danger"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Health" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-secondary"> {{day.day}}, {{day.event}}</li>
                      <a href="{% url 'tester' day.day %}">Check event</a>
                    </div>
                  {% else %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item"> {{day.day}}</li>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <div class = "row">
                {% for day in second_week %}
                  {% if day.event == "Support" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-primary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Friendship" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-danger"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Health" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-secondary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% else %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item"> {{day.day}}</li>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <div class = "row">
                {% for day in third_week %}
                  {% if day.event == "Support" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-primary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Friendship" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-danger"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Health" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-secondary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% else %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item"> {{day.day}}</li>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <div class = "row">
                {% for day in fourth_week %}
                  {% if day.event == "Support" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-primary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Friendship" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-danger"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Health" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-secondary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% else %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item"> {{day.day}}</li>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <div class = "row">
                {% for day in fifth_week %}
                  {% if day.event == "Support" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-primary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Friendship" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-danger"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Health" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-secondary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% else %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item"> {{day.day}}</li>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <div class = "row">
                {% for day in sixth_week %}
                  {% if day.event == "Support" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-primary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Friendship" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-danger"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% elif day.event == "Health" %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item list-group-item-secondary"> {{day.day}}, {{day.event}}</li>
                    </div>
                  {% else %}
                    <div class = "col">
                      <li id={{day.day}}_{{day.month}} class= "list-group-item"> {{day.day}}</li>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
          </div> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>

          function isElementClicked(id){
            var test = id.split("_")
            // the ID's are constructed of day_month, so this seperates those numbers
            console.log(test[0], test[1])
            console.log(display_events)
          }
    
          var testclick = document.querySelectorAll("li");
          for(let i = 0; i < testclick.length; i++){
            // for each list item
            if(testclick[i].id != ""){
              // if it has an id, give it an event listener for when it is clicked
              testclick[i].addEventListener("click", function(){
                isElementClicked(testclick[i].id);
              }); 
            }
          }

        </script>
      </body>
</html>